<p><strong>Mi ez?</strong></p>
<p>A Sharewood a Google Reader hírolvasó nem is olyan rég eltüntetett megosztás funkciójának pótlására jött létre. Arra használjuk, hogy az interneten talált érdekes cikkeket, jó videókat vagy kismacskás képeket eljuttassuk egymásnak. Mindezt anélkül, hogy a tartalom elveszne a Facebook vagy a Google+ zajában.</p>
<p>A Sharewood a megosztogatásban résztvevők közös oldala, ahová kézi szerkesztés nélkül, kronologikus sorrendben ömlik be a tartalom. A csatlakozáshoz egy RSS csatorna szükséges csupán, ami kizárólag megosztásokat tartalmaz. Ezt előállíthatja egy Wordpress blog, Tumblr mikroblog, a Posterous motorja vagy bármi, ami feedet képes generálni. Ha csatlakozni szeretnél, <a href="mailto:join@sharewood.hu">küldj egy e-mailt</a>.</p>
<p><%= link_to "< Vissza a főoldalra", "/" %></p>
