<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
	"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<title>Sharewood.hu</title>
	<%= stylesheet_link_tag 'style', 'pagination' %>
	<link rel="alternate" type="application/rss+xml" title="Sharewood.hu feed" href="http://sharewood.hu/pages/show.rss" /> 
  <link href='http://fonts.googleapis.com/css?family=Ubuntu:400&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>
<body>
	<%= yield %>
</body>
</html>
