<!DOCTYPE html>
<html>
  <head>
    <title>Sharewood.hu</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <%= stylesheet_link_tag "application" %>
    <link rel="alternate" type="application/rss+xml" title="Sharewood.hu feed" href="http://feeds.feedburner.com/Sharewoodhu" /> 
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:400&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-28732170-1']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();

     </script>
   </head>
   <body>
     <div id="wrap">
       <div id="sharewoodtitle">
         <h1><a href="http://sharewood.hu/">SHAREWOOD</a></h1>
       </div>
       <div id="tagline">Magyar linkblog közösség. Alapítva 2012-ben.</div>
       <%= yield %>
       <div id="footer">Hungarian linkblog community. Since 2012. No rights reserved. Contact us at <a href="mailto:info@sharewood.hu">info@sharewood.hu</a>.</div>
     </div>
   </body>
 </html>
